In [26]:
import numpy as np
import pandas as pd

In [48]:
df= pd.DataFrame({'Nom':['Amine','Lina','Youssef','Salma','Nora'],'Age':[28,22,35,30,np.nan],'Ville':['Casa','Rabat','Fès','Casa','Tanger']})
print(df)
print(df.head(5))
print(df.info())
print(df.describe())

       Nom   Age   Ville
0    Amine  28.0    Casa
1     Lina  22.0   Rabat
2  Youssef  35.0     Fès
3    Salma  30.0    Casa
4     Nora   NaN  Tanger
       Nom   Age   Ville
0    Amine  28.0    Casa
1     Lina  22.0   Rabat
2  Youssef  35.0     Fès
3    Salma  30.0    Casa
4     Nora   NaN  Tanger
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Nom     5 non-null      object
 1   Age     4 non-null      float64
 2   Ville   5 non-null      object
dtypes: float64(1), object(2)
memory usage: 252.0+ bytes
None
             Age
count   4.000000
mean   28.750000
std     5.377422
min    22.000000
25%    26.500000
50%    29.000000
75%    31.250000
max    35.000000

In [61]:
print(df[df['Age'] > 25])
print(df.Ville)
df['Naissance']=2025-df.Age
print(df)
df['Nom']=df['Nom'].str.upper()
print(df)
df.rename(columns={'Ville':'Localisation'}, inplace=True)
print(df)

       Nom   Age Ville  Naissance
0    AMINE  28.0  Casa     1997.0
2  YOUSSEF  35.0   Fès     1990.0
3    SALMA  30.0  Casa     1995.0
0      Casa
1     Rabat
2       Fès
3      Casa
4    Tanger
Name: Ville, dtype: object
       Nom   Age   Ville  Naissance
0    AMINE  28.0    Casa     1997.0
1     LINA  22.0   Rabat     2003.0
2  YOUSSEF  35.0     Fès     1990.0
3    SALMA  30.0    Casa     1995.0
4     NORA   NaN  Tanger        NaN
       Nom   Age   Ville  Naissance
0    AMINE  28.0    Casa     1997.0
1     LINA  22.0   Rabat     2003.0
2  YOUSSEF  35.0     Fès     1990.0
3    SALMA  30.0    Casa     1995.0
4     NORA   NaN  Tanger        NaN
       Nom   Age Localisation  Naissance
0    AMINE  28.0         Casa     1997.0
1     LINA  22.0        Rabat     2003.0
2  YOUSSEF  35.0          Fès     1990.0
3    SALMA  30.0         Casa     1995.0
4     NORA   NaN       Tanger        NaN

In [72]:
df1= pd.DataFrame({'Nom':['Amine','Lina','Youssef','Salma','Nora'],'Age':[28,22,35,30,np.nan],'Ville':['Casa','Rabat','Fès','Casa','Tanger']})
print(df1)
print(df1.isnull().sum())

df1['Age']=df1['Age'].fillna(df1['Age'].mean())
print(df1)

       Nom   Age   Ville
0    Amine  28.0    Casa
1     Lina  22.0   Rabat
2  Youssef  35.0     Fès
3    Salma  30.0    Casa
4     Nora   NaN  Tanger
Nom      0
Age      1
Ville    0
dtype: int64
       Nom    Age   Ville
0    Amine  28.00    Casa
1     Lina  22.00   Rabat
2  Youssef  35.00     Fès
3    Salma  30.00    Casa
4     Nora  28.75  Tanger